@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;


.task-container {
    padding: 1rem 2rem;
    position: relative;
    .task-card {
        @include m.borderStyle;
        text-align: start;
        box-sizing: border-box;
        width: 100%;
        margin: 1rem 0 1rem 0;
        padding: 1rem;
        border-radius: 0.5rem;

        .completed {
            text-decoration: line-through;
            color: black;
          }

        .upper-task-card {
            @include m.flex(row,space-between,center);
            margin-bottom: 0.5rem;
            

            .due-date-priority {
                @include m.flex(row,space-evenly,center);
                
                p {
                    font-size: 12px;   
                    // font-weight: 600;
                }
            
                .date {
                    text-align: center;
                    font-size: 0.5rem;
                    background-color: v.$primaryColor;
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.5rem;
                    font-size: 12px;  
                }
            
            
                .high-prio {
                    margin-left: 0.5rem;
                    background-color: v.$highPriority;
                    padding: 0.25rem 0.75rem;
                    border-radius: 0.5rem;
                }
    
                .medium-prio {
                    @extend .high-prio;
                    background-color: v.$midPriority;
                }
    
                .low-prio {
                    @extend .high-prio;
                    background-color: v.$lowPriority;
                }
            }

            .icon-container {
                @include m.flex(row,center,center);
                gap: 4px;
            }


        }

        .lower-task-card {
            .title {
                font-size: 1.25rem;
                font-weight: 600;
            }

            .description {
                
            }
        }

        .checked {
            text-decoration: line-through;
        }
    }

    .no-tasks {
        @include m.flex(column, center,center);
        padding: 1rem 0;
        p {
            text-align: center;
        }
    }

    .overlay {
        @include m.flex(column, center,center);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(5px); // För blur-effekt
        background-color: rgba(0, 0, 0, 0.15); // För en mörk overlay
        z-index: 999; // Lägre än popupens z-index


        .popUp-container {
            @include m.flex(column, center,center);
            @include m.borderStyle;
            position: relative;
            z-index: 1000; // Popupen syns ovanpå overlay
            width: 90%;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: v.$secondaryTextColor;
            border-radius: 0.5rem;
            padding: 1rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); // För en snygg popup-effekt

            .popUp-button-container {
                width: 100%;
                @include m.flex(row, space-evenly,center);
                margin-top: 1rem;

                button {
                    @include m.button(white,black);
                    padding: 0.5rem 0;
                    width: 40%;
                }
            }

            
        }
    }
}