@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;


.task-container {
    padding: 1rem 2rem;
    position: relative;
    .task-card {
        @include m.borderStyle;
        text-align: start;
        box-sizing: border-box;
        width: 100%;
        margin: 1rem 0 1rem 0;
        padding: 1rem;
        border-radius: 0.5rem;

        .completed {
            text-decoration: line-through;
            color: black;
          }

        .upper-task-card {
            @include m.flex(row,space-between,center);
            margin-bottom: 0.5rem;
            

            .due-date-priority {
                @include m.flex(row,space-evenly,center);
                
                p {
                    font-size: 12px;   
                    // font-weight: 600;
                }
            
                .date {
                    text-align: center;
                    font-size: 0.5rem;
                    background-color: v.$primaryColor;
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.5rem;
                    font-size: 12px;  
                }
            
            
                .high-prio {
                    @include m.priority(high);
                }
    
                .medium-prio {
                    @include m.priority(medium);
                }
    
                .low-prio {
                    @include m.priority(low);
                }
            }

            .icon-container {
                @include m.flex(row,center,center);
                gap: 4px;
            }


        }

        .lower-task-card {
            .title {
                font-size: 1.25rem;
                font-weight: 600;
            }

            .description {
                
            }
        }

        .checked {
            text-decoration: line-through;
        }
    }

    .no-tasks {
        @include m.flex(column, center,center);
        padding: 1rem 0;
        p {
            text-align: center;
        }
    }

            .popUp-text {
                font-size: 14px;
            }

            .popUp-button-container {
                width: 100%;
                @include m.flex(row, space-evenly,center);
                margin-top: 1.5rem;

                button {
                    @include m.button(white,black);
                    font-size: 14px;
                    padding: 0.5rem 0;
                    width: 40%;
                }
            }

            
}