@use "./variables" as v;

@mixin borderStyle {
    border: 1.5px dashed v.$borderColor;
}

@mixin flex ($direction, $justify: center, $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button($bgColor, $textColor) {
    @include borderStyle();
    background: $bgColor;
    color: $textColor;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        // background-color: darken($bgColor, 10%);
    }
}

@mixin priority($priority) {
    @if $priority == low {
        margin-left: 0.5rem;
        background-color: v.$lowPriority;
        padding: 0.25rem 0.75rem;
        border-radius: 0.5rem;
    } @else if ($priority == medium) {
        margin-left: 0.5rem;
        background-color: v.$midPriority;
        padding: 0.25rem 0.75rem;
        border-radius: 0.5rem;
    } @else if ($priority == high) {
        margin-left: 0.5rem;
        background-color: v.$highPriority;
        padding: 0.25rem 0.75rem;
        border-radius: 0.5rem;
    }
}

@mixin dueDate {
        text-align: center;
        font-size: 0.5rem;
        background-color: v.$primaryColor;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        font-size: 12px;  
}